{% extends "base.html" %}
{% block content %}
      <img class="divider" src="/static/img/divider.png" />
      <div id="steps">
      <!-- Example row of columns -->
      <div class="row">
        <div class="span4 offset2">
          <h2>How it works!</h2>
        </div>
      </div>
      <div class="row">
        <div class="span4 offset2">
          <h2 class="step">1</h2>
           <p class="step">Bill needs a picture for his blog, he describes the shot on the request form.</p>
        </div>
        <div class="span4">
          <h2 class="step">2</h2>
           <p class="step">Photographers from all over the world view his request and if its convenient, grab the shot Bill needs.</p>
       </div>
      </div>
      <div class="row">
        <div class="span4 offset2">
          <h2 class="step">3</h2>
           <p class="step">The photographer submits the photo to Crowdphoto.org for Bill's approval.</p>
        </div>
        <div class="span4">
          <h2 class="step">4</h2>
           <p class="step">Bill is alerted that his photo is available.  He approves the photo and high-fives the photographer.</p>
       </div>
     </div>


{% endblock %}
