{% extends "list.html" %}
{% block content %}

<!-- Example row of columns -->
<div class="row">
    <div class="span4 offset2">
        <br />
        <h2>Needed Pictures</h2>
    </div>
</div>
{% for request in requests %}
<img class="divider" src="/static/img/divider.png" />
<div class="row">
    <div class="span4 offset2">
        <p class="req_user">{{ request.user }}</p>
        <p class="req_location">{{ request.location }}</p>
        <p class="req_description">{{ request.description }}</p>
        <p class="req_expiration">{{ request.expiration }}</p>
        <p class="req_latitude">{{ request.latitude }}</p>
        <p class="req_longitude">{{ request.longitude }}</p>
        <a class="make_offer">Make Offer</a>
    </div>
</div>
{% empty %}
<div class="row">
    <div class="span4 offset2">
        <h2 class="step"></h2>
        <p class="step">Supply is greater than demand! No one needs a picture at the moment.</p>
    </div>
</div>

{% endfor %}

<div id="modal_background"></div>
<div id="request_form">
    <form action="{% url requestimage %}" method="post">
        {% csrf_token %}
        {{ requestform.as_p }}
        <input type="submit" value="Make Request" />
    </form>
</div>
<div id="offer_form">
    <form action="{% url offerimage %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ offerform.as_p }}
        <input type="submit" value="Make Offer" />
    </form> 
</div>

{% endblock %}
