{% extends "list.html" %}
{% block content %}

<!-- Example row of columns -->

{% if user.is_authenticated %}
<div id="your-requests">
    <h3>Your Requests</h3>
    {% for request in user.image_requests.all %}
    <div class="row">
        <div class="span3">
            <a href="#" class="location-review" data-request-id="{{ request.id }}">{{ request.location }}</a>
        </div> 
        <div class="span6 offset2">
            {% for offer in request.offers.all %}
            <img src="{{ MEDIA_URL }}{{ offer.image }}" class="offerthumbnail" />
            {% empty %}
            Sorry there are currently no offers.
            {% endfor %}
        </div>
    </div>
    {% empty %}
    You have no image requests
    {% endfor %}
</div>
{% endif %}


<div class="row">
    <div class="span4 offset1">
        <br />
        <h2>Needed Pictures</h2>
    </div>
</div>
{% for request in requests %}
<img class="divider" src="/static/img/divider.png" />
<div class="row">
    <div class="span4 offset2">
        <p class="req_user">{{ request.user }}</p>
        <p class="req_location">{{ request.location }}</p>
        <p class="req_description">{{ request.description }}</p>
        <p class="req_expiration">{{ request.expiration }}</p>
        <p class="req_latitude">{{ request.latitude }}</p>
        <p class="req_longitude">{{ request.longitude }}</p>
        <a class="make_offer" data-request-id="{{ request.id }}">Make Offer</a>
    </div>
</div>
{% empty %}
<div class="row">
    <div class="span4 offset2">
        <h2 class="step"></h2>
        <p class="step">Supply is greater than demand! No one needs a picture at the moment.</p>
    </div>
</div>

{% endfor %}

<div id="modal_background"></div>
<div id="request_form">
    <div id="map_canvas" style="width:200px;height:200px;"></div>
    <form action="{% url requestimage %}" method="post">
        {% csrf_token %}
        {{ requestform.as_p }}
        <input type="submit" value="Make Request" />
    </form>
</div>
<div id="offer_form">
    <form action="{% url offerimage %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ offerform.as_p }}
        <input type="hidden" id="request" name="request" />
        <input type="submit" value="Submit Photo" />
    </form> 
</div>
<div class="location-details">
   hello 
</div>

{% endblock %}
