/* @override 
	http://localhost:8000/static/css/style.css */

#headerslideshow {
  height:500px;
  width:100%;
  
}

#header_light {
	height: 120px;
	width: 100%;
	background-color: #323332;
}
#background {
    background-image:url('/static/img/header.png');
    background-size: cover;
    width:100%;
    height:489px;
}
body {
  background-color: #515151 !important;
  padding-top:0px !important;
  background-image:url('/static/img/wallpaper.jpg') !important;
}
#logo {
    padding-left:20px;
    padding-top:20px;
}
.container {
	font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    line-height: 1.5em;
    font-weight: 300;
    padding-left:0px;
    padding-right:0px;
    -moz-box-shadow:    0px 0px 2px 2px #bfbfbf;
  	-webkit-box-shadow: 0px 0px 2px 2px #bfbfbf;
  	box-shadow:         0px 0px 2px 2px #bfbfbf;
  	background: url(/static/img/headerdecoration.png) no-repeat 46px 455px white;
}
footer {
    text-align:center;
}

#steps h2 {
	font-size: 32px;
}

h2.step {
	float: left;
	font-size: 47px !important;
	margin-top: 30px;
	font-weight: 300;
}
p.step {
	font-size: 17px;
	margin-top: 27px;
	margin-left: 34px;
	display: block;
	width: 320px;
}
#steps {
	height: 360px;
	width: 100%;
	background: url('/static/img/camerawallpaper.png') no-repeat center -76px;
	line-height: 2em;
}


.divider {
	margin-top: 10px;
	margin-bottom: 40px;
}

.quotation1 {
	margin-left: 201px;
	letter-spacing: 1px;
	line-height: 1.5em;
	font-weight: 300;
	line-height: 2em;
}

#headerslideshow .facebooklogin {
	margin-top: 70px;
	margin-left: 34px;
}

#headerslideshow .facebooklogin div {
	text-align: center;
	float: left;
}

#headerslideshow .facebooklogin .request_image {
	width: 153px;
	margin-right: 8px;
}

#headerslideshow .facebooklogin img.login_image {
	margin-top: 90px;
	display: block;
	margin-left: 70px;
	box-shadow: 0 0 20px #78aefb;
}

#headerslideshow .facebooklogin p a {
	margin-top: 9px;
	display: block;
	color: #d7562d;
	font-size: 16px;
	text-align: center;
}

#header_light .facebooklogin {
	float: right;
	width: 430px;
	text-align: right;
	margin-top: 31px;
	margin-right: 20px;
}

#header_light .facebooklogin .request_image {
	width: 143px;
	display: inline-block;
}

#header_light .facebooklogin img.login_image {
	margin-top: 20px;
	display: block;
	float: right;
	margin-right: 9px;
	box-shadow: 0 0 20px #78aefb;
}

#header_light .facebooklogin p a {
	color: #d7562d;
	font-size: 16px;
	display: inline-block;
	margin-top: 18px;
	margin-right: 10px;
	float: right;
	margin-left: 20px;
}

.quotation2 {
	margin-right: 201px;
	float: right;
	margin-bottom: 30px;
	margin-top: 30px;
	text-align: right;
	letter-spacing: 1px;
	line-height: 1.5em;
	font-weight: 300;
	line-height: 2em;
}

.quotation1 h2 {
	font-size: 40px;
	line-height: 1.5em;
}

.quotation2 h2 {
	font-size: 40px;
	line-height: 1.5em;
}

.quotation1 p {
	display: block;
	width: 660px;
	font-size: 21px;
	color: #818181;
}

.quotation2 p {
	display: block;
	width: 660px;
	font-size: 21px;
	color: #818181;
}

#steps img.inputbutton {
	width: 210px;
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
}

div#request_form {
	width: 370px;
	background-color: #e6e4e4;
	position: fixed;
	left: 70px;
	top: 0;
	padding: 20px;
	z-index: 9999;
	display: none;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow:    0px 0px 10px 10px black;
	-webkit-box-shadow: 0px 0px 10px 10px black;
	box-shadow:         0px 0px 10px 10px black;
}
div#offer_form {
	width: 370px;
	background-color: #e6e4e4;
	position: fixed;
	left: 70px;
	top: 0;
	padding: 20px;
	z-index: 9999;
	display: none;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow:    0px 0px 10px 10px black;
	-webkit-box-shadow: 0px 0px 10px 10px black;
	box-shadow:         0px 0px 10px 10px black;
}

#modal_background {
	background-color: rgba(0, 0, 0, 0.92);
	top:0px; /* start from top */  
	left:0px;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 9998;
	display: none;
}

.show_request {
	cursor: pointer;
	cursor: hand;
}
/*Request Form Gui*/
input {
	font-weight: 300;
}

input#id_location {
	width: 93%;
	padding: 10px;
}

textarea#id_description {
	width: 93%;
	padding: 10px;
}

input#id_expiration {
	width: 100%;
	display: none;
}
img.ui-datepicker-trigger {
	width: 22px;
	margin-top: -7px;
}
p#id_expiration_label {
	float: left;
	margin-right: 10px;
}

input::-webkit-input-placeholder {
    color: #cfcfcf;
}
input:-moz-placeholder {
    color:    #cfcfcf;
}
input:-ms-input-placeholder {
    color:    #cfcfcf;
}

#map_canvas {
	height: 200px;
	width: 100%;
	display: none;
}
#map_toggle {
	text-align: right;
	padding-right: 10px;
	font-weight: bold;
	font-size: 13px;
	letter-spacing: 0;
	color: #858584;
	margin-top: -12px;
	cursor: pointer;
	cursor: hand;
}
.location-details{
	width: 370px;
	background-color: #e6e4e4;
	position: fixed;
	left: 70px;
	top: 0;
	padding: 20px;
	z-index: 9999;
	display: none;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow:    0px 0px 10px 10px black;
	-webkit-box-shadow: 0px 0px 10px 10px black;
	box-shadow:         0px 0px 10px 10px black;
}

.preview-popup img{
    max-width: 200;
}

.offerthumbnail {
    max-width: 100px;
    max-height: 100px;
}

.row.request_layout {
	min-height: 270px;
}
.row.request_layout p.req_user {
	font-size: 25px;
	width: 230px;
	line-height: 1em;
	display: inline;
	font-weight: 400;
}

.row.request_layout p.req_expiration {
	display: inline;
	margin-left: 10px;
	color: #858585;
}

.row.request_layout p.req_description {
	background-color: #f7f7f7;
	width: 546px;
	font-size: 19px;
	font-weight: 300;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid rgb(191, 191, 191);
	margin-top: 11px;
	padding: 10px 30px 10px 10px;
}

.list_map {
	width: 200px;
	height: 200px;
	border: 2px dashed rgb(171, 169, 169);
	margin-bottom: 10px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.map_frame {
	width: 200px;
	position: relative;
	top: 8px;
	float: right;
	text-align: left;
	font-weight: 300;
	font-size: 19px;
}
.map_frame p {
	margin-left: 33px;
}